<html>

<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link rel="shortcut icon" href="/img/index/favicon.ico">
</head>

<body>
    <!--<div class="header">

    </div>-->

    <div class="mainsign">
        <div id="login-message"></div>

        <div class="signupbox">
            <div class="signup-naslov"> Registrirajte se </div>

            <form method="POST" action="/createUser" id="signUpForm">

                <label class="form-label" name="Number">Number:</label><br>
                <input class="form-input" type="text" placeholder="Unesi broj" value="" name="number" /><br>
                <button class="form-sign-btn" type="submit">Prijava</button><br>-

            </form>
        </div>
    </div>

    <!--<div class="footer">

    </div>-->
</body>

</html>