/* :::::::::::::::: LOGIN ::::::::::::::::::: */
* {
  margin: auto;
  padding: 0;
  font-family: Century Gothic;
  box-sizing: border-box;
  cursor: url(../img/index/oth638.cur), default;
}

.mainanan {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../img/index/bihac1.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
  height: 100 px;
}
.alert--error {
  background-color: #eb4d4b;
}
.loginbox {
  /* uredjivanje login-box-a */
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  opacity: 0.85;
  border-radius: 20px;
}

.loginbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 35px;
  color: #fff;
}

.loginbox a:hover {
  color: #996578;
  text-decoration: underline;
  cursor: url(../img/index/oth630.cur), pointer;
}

.login-naslov {
  /* uredjivanje naslova 'Login' */
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}

.form-label {
  /* uredjivanje label-a */
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.form-input {
  /* uredjivanje inputa */
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.form-input:hover {
  cursor: url(../img/index/oth630.cur), pointer;
}

.form-log-btn {
  /* login button */
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  background: #996578;
  font-size: 18px;
  color: #3d3c3d;
  border-radius: 20px;
  transition: transform 0.9s ease;
}

.form-log-btn:hover {
  border-radius: 30px;
  color: #fff;
  cursor: url(../img/index/oth630.cur), pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
